@using IK_Project.UI.Models;

@{
    ViewData["Title"] = "UpdatePassword";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.min.js"></script>

@model UpdatePasswordViewModel
@if (ViewBag.State == null)
{
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="card-body p-md-5 mx-md-4">
                        <div class="text-center">
                            <img src="~/images/solusan.png"
                             style="width: 300px;" alt="logo">
                            <h4 class="mt-1 mb-5 pb-1"></h4>
                        </div>

                        <form asp-action="UpdatePassword" method="post">


                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example11">Password:</label>
                                <input id="form2Example11" asp-for="Password" class="form-control"
                                   placeholder="New password" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="text-center pt-1 mb-5 pb-1">
                                <input type="submit" class="btn btn-primary btn-block" value="Update my password" />
                            </div>

                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
}

else
{
    if (ViewBag.State)
    {
        <div class="alert-success" style="font-size:large">The password has been successfully updated.</div>
        <br />
        <br />
        <br />
        <div>
            <a class="btn btn-primary" style="font-size:large" asp-action="Login" asp-controller="Home">Please login with your new password</a>
        </div>
    }
    else
    {
        <div class="alert-success">Sorry, password update failed.</div>
    }
}

