
@{
    ViewData["Title"] = "Index";
}

<div class="d-grid">

 <a class="btn btn-block btn-sm btn-info" style="color:azure; font-size:larger" asp-action="GetAllCompanies">List All Companies</a>
    <br />
    <a class="btn btn-block btn-primary" style="color:azure; font-size:larger" asp-action="GetAllActiveCompanies">List All Active Companies</a>
    <br />
    <a class="btn btn-block btn-success" style="color:azure; font-size:larger" asp-action="Create">Add New Companies</a>

</div>
