
@{
    ViewData["Title"] = "Index";
}

<div class="d-grid">

    <a class="btn btn-block btn-sm btn-info" style="color:azure; font-size:larger" asp-action="GetAllCompanyManagers">List All CompanyManager</a>
    <br />
    <a class="btn btn-block btn-primary" style="color:azure; font-size:larger" asp-action="GetAllActiveCompanyManagers">List All Active CompanyManager</a>
    <br />
    <a class="btn btn-block btn-success" style="color:azure; font-size:larger" asp-action="Create">Add New CompanyManager</a>

</div>


