@{
    ViewData["Title"] = "Index";
}

<div class="d-grid">


    <a class="btn btn-block btn-sm btn-info" style="color:azure; font-size:larger" asp-action="GetAllRoles">Get All Roles</a>
    <br />
    @*<a class="btn btn-block btn-primary" style="color:azure; font-size:larger" asp-action="Create">Add New Role</a>*@

</div>

